@import '~antd/lib/style/themes/default.less';
:global(#root) {
  background: url('https://cdn.youlianyc.com/image/static/224ebb3689dd2680883ea9c4a08440052c8f0206.jpg')
    no-repeat;
  background-size: 100% 100%;
}

.main {
  width: 388px;
  margin: 0 auto;
  padding: 100px 40px 40px;
  // background: #fff;
  :global(.yl-ck-components-login-index-getCaptcha) {
    font-size: 14px !important;
  }
  @media screen and (max-width: @screen-sm) {
    width: 95%;
  }

  .icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    margin-top: 24px;
    line-height: 22px;
    text-align: center;

    .register {
      float: right;
    }
  }
}

.desc {
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  text-align: center;
}
