@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.nav {
  display: flex;
  justify-content: space-between;
  height: 32px;
  padding: 0 8%;
  background: #001529;

  > div {
    display: flex;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 400;
    font-size: 12px;
    font-family: PingFang-SC-Regular, sans-serif;
    line-height: 32px;
  }

  .loginInfo {
    margin: 0 18px 0 60px;

    a {
      color: #13c2c2;
    }
  }

  .navRight {
    div {
      margin-right: 24px;
    }
  }
}

.menuA {
  margin: -9px -12px !important;
  color: rgba(19, 194, 194, 1) !important;
  font-weight: 400;
  font-size: 12px;
  font-family: PingFang-SC-Regular, sans-serif;
  line-height: 20px;
  background: #000;
}
