@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

@font-face {
  font-family: 'DINMittelschriftStd';
  src: url('https://cdn.youlianyc.com/m/DINMittelschriftStd.ttf');
}

.recharge_block {
  overflow: hidden;

  .recharge_top {
    width: 100%;
    height: 400px;
    margin-top: 64px;
    overflow: hidden;
    background: #95de64;

    .ms_banner {
      width: 1128px;
      height: 400px;
      margin: 0 auto;
      font-size: 0;
      background: url(https://cdn.youlianyc.com/image/static/8dfdc8949589435caeeca186a99368c5cdab8992.jpg)
        top center no-repeat;
    }
  }
}

.rechargeAct_block {
  width: 1200px;
  margin: 0 auto;

  .rechargeAct_title {
    display: inline-block;
    width: 180px;
    height: 40px;
    margin: 80px 0 32px;
    background: url(https://cdn.youlianyc.com/image/static/aacdf544d991d42099dda03d15910357f4c7044d.jpg)
      no-repeat;
  }

  .rechargeAct_title2 {
    background: url(https://cdn.youlianyc.com/image/static/9e05eb806fc8b3c57f382b72810b6bdcbea428a8.jpg)
      no-repeat;
  }

  .rechargeAct_desc {
    color: rgba(56, 158, 13, 1);
    font-weight: 400;
    font-size: 20px;
    font-family: PingFangSC-Regular, sans-serif;
    line-height: 40px;
  }
  .rechargeAct_desc2 {
    color: rgba(56, 158, 13, 1);
  }

  .act_list_block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 64px;
    font-weight: 500;
    font-size: 24px;
    font-family: PingFang-SC-Medium, sans-serif;
    line-height: 32px;
    text-align: center;

    .act_item {
      margin-right: 32px;
      background: linear-gradient(180deg, rgba(255, 128, 8, 1) 0%, rgba(255, 200, 55, 1) 100%);
      border-radius: 16px;
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.04);

      .title {
        margin: 16px 20px;
        color: #fff;
      }

      .reward_block {
        margin: 0 16px 16px;
        overflow: hidden;
        background: #fff;
        border-radius: 12px;

        .reward_money {
          margin-top: 20px;
          color: #faad14;

          .reward {
            display: inline-block;
            margin: 15px 4px 0;
            color: #fa541c;
            font-weight: bold;
            font-size: 45px;
            font-family: 'DINMittelschriftStd', sans-serif;
          }
        }
        .btn {
          margin: 16px 16px 24px;
          padding: 4px 0;
          color: #fff;
          background: #faad14;
          border-radius: 32px;
        }
      }
    }
  }

  .btn_toRecharge {
    display: inline-block;
    box-sizing: content-box;
    width: 256px;
    height: 64px;
    margin: 64px 0;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    font-family: PingFangSC-Medium, sans-serif;
    line-height: 64px;
    text-align: center;
    background: rgba(82, 196, 26, 1);
    border-radius: 4px;
  }

  .attention {
    margin: 0 0 120px;
    padding-top: 32px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.09);

    .title {
      margin-bottom: 16px;
      font-weight: 500;
      font-family: PingFang-SC-Medium, sans-serif;
    }

    .desc {
      font-weight: 400;
      font-size: 20px;
      font-family: PingFangSC-Regular, sans-serif;
      line-height: 40px;
    }
  }
}

.VIP_block {
  overflow: hidden;

  .VIP_top {
    width: 100%;
    height: 400px;
    margin-top: 64px;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(76, 161, 175, 1) 0%, rgba(196, 224, 229, 1) 100%);

    .ms_banner {
      width: 1128px;
      height: 400px;
      margin: 0 auto;
      color: rgba(255, 255, 255, 1);
      text-align: center;

      .p1 {
        margin-top: 64px;
        font-weight: 100;
        font-size: 64px;
        font-family: PingFangSC-Thin, sans-serif;
        line-height: 90px;
      }

      .p2 {
        margin: 24px 0 8px;
        font-weight: 500;
        font-size: 32px;
        font-family: PingFangSC-Medium, sans-serif;
        line-height: 40px;
      }

      .p3 {
        font-weight: 140;
        font-size: 20px;
        font-family: PingFangSC-Regular, sans-serif;
        line-height: 40px;
      }
    }
  }
}

.VIP_contBlock {
  position: relative;
  top: -110px;
  width: 1128px;
  margin: 0 auto;

  .VIPMembers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.04);

    .VIPMember {
      width: 344px;
      overflow: hidden;
      border-radius: 4px;

      .VIPMember_top {
        height: 138px;
        padding: 24px;
        color: #fff;
        font-family: PingFangSC-Regular, sans-serif;

        &.VIPMember_top_bg {
          color: #fff;
        }

        &.VIPMember_top_bg1 {
          background: url(https://cdn.youlianyc.com/image/static/20dc985c15cba4fcd8b3cbb3a088e31090efe6f3.jpg)
            no-repeat;
          background-size: cover;
        }

        &.VIPMember_top_bg2 {
          background: url(https://cdn.youlianyc.com/image/static/ad013611207d27abcbcb70f7edb417544b3b6eaa.jpg)
            no-repeat;
          background-size: cover;
        }

        &.VIPMember_top_bg3 {
          background: url(https://cdn.youlianyc.com/image/static/d1aef44c8e15ddf45dadff3c96b3bc050275b61d.jpg)
            no-repeat;
          background-size: cover;
        }

        .VIP_name {
          margin-bottom: 16px;
          font-weight: 500;
          font-size: 20px;
          font-family: PingFangSC-Medium, sans-serif;
          line-height: 28px;
        }

        .VIP_price_block {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
        }

        .VIP_price {
          font-size: 38px;
          font-family: HelveticaNeue, sans-serif;
          line-height: 46px;
        }
      }

      .VIPMember_bottom {
        padding: 24px 24px 32px;
        text-align: center;

        .desc {
          margin-bottom: 8px;
          color: rgba(0, 0, 0, 0.45);
          font-weight: 400;
          font-size: 14px;
          font-family: PingFangSC-Regular, sans-serif;
          line-height: 22px;
          text-align: left;

          &::before {
            content: '';
            position: relative;
            left: -10px;
            display: inline-block;
            width: 8px;
            height: 8px;
            border: 2px solid rgba(215, 163, 95, 1);
            border-radius: 4px;
          }
        }

        .btn {
          display: inline-block;
          box-sizing: content-box;
          width: 176px;
          height: 40px;
          margin-top: 24px;
          color: rgba(255, 255, 255, 1);
          font-weight: 400;
          font-size: 16px;
          font-family: PingFangSC-Regular, sans-serif;
          line-height: 40px;
          background: rgba(215, 163, 95, 1);
          border-radius: 4px;
        }
      }
    }
  }

  .VIP_details {
    margin-top: 45px;

    :global {
      .ant-table-thead > tr > th {
        color: rgba(61, 145, 158, 1);
        font-weight: 500;
        font-size: 14px;
        font-family: PingFangSC-Medium, sans-serif;
        background: rgba(196, 224, 229, 1);
      }
    }
  }
}
