@import '~antd/lib/style/themes/default.less';

.title {
  margin-bottom: 16px;
  color: @heading-color;
  font-weight: 600;
  font-size: 16px;
}
.pro_name {
  display: -webkit-box;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.pro_image {
  display: flex;
  align-items: flex-start;
  color: #000;
}
.models {
  width: 300px;
  margin: 0 auto;
  .hp_img {
    width: auto;
    height: 400px;
    margin: 0 auto;
  }
}
.btn {
  width: 80px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  background: rgba(24, 144, 255, 1);
  border-radius: 18px;
}
